<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UNIMovie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>607CD8461BF0D057007CD9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607CD85A1BF0D057007CD9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607CD8651BF0D057007CD9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
